* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kaisei HarunoUmi', serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1100px;
    margin: 3rem auto;
    padding-left: 1%;
}

.product {
    width: 31%;
    float: left;
    position: relative;
    margin: 1%;
}

img {
    width: 100%;
}

.box {
    position: relative;
}

.like {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: white;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.label_1 {
    position: absolute;
    bottom: 25px;
    left: 0;
    background-color: #eb0037;
    padding: 0 3px;
    font-size: .9rem;
    color: white;
    font-weight: bold;
}

.label_2 {
    background-color: #00875a;
    position: absolute;
    left: 50px;
    padding: 0 3px;
    color: white;
    font-weight: bold;
}

.label_alone {
    position: absolute;
    bottom: 25px;
    left: 0;
    background-color: #00875a;
    padding: 0 3px;
    font-size: .9rem;
    color: white;
    font-weight: bold;
}

.brand {
    font-size: .8rem;
}

.type {
    font-weight: bolder;
}

.updated_price {
    font-size: .9rem;
    color: red;
    font-weight: bold;
}

.price {
    color: black;
    font-weight: 400;
    text-decoration: line-through;
}

.special {
    display: none;
    position: absolute;
    top: 0;
}

.box:hover .special {
    display: block;
}